.split {
  display: flex;
  flex-direction: row;
}

.split-vertical {
  display: flex;
  flex-direction: column;
}

.gutter {
  background-color: hsl(var(--border));
  transition: background-color 0.2s;
}

.gutter:hover {
  @apply bg-bg-card;
}

.gutter.gutter-horizontal {
  cursor: col-resize;
  @apply bg-bg-primary;
}

.gutter.gutter-vertical {
  cursor: row-resize;
  @apply bg-bg-primary;
}

/* Add this for vertical text when minimized */
.writing-mode-vertical {
  writing-mode: vertical-lr;
  text-orientation: mixed;
  white-space: nowrap;
}

